.button {
	border: 0;
	padding: 0.7rem;
	border-radius: 5px;
	background: var(--color-3);
	color: white;
}

.button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.button:active {
	opacity: 1;
	transform: scale(0.95);
}

.submit {
	background: var(--color-4);
	width: clamp(10rem, 18rem, 30rem);
}
