.moodPlaneContainer {
	position: relative;
	display: grid;
	grid-template-columns: 2% 90% 2%;
	grid-template-rows: 2% 90% 2%;
	grid-template-areas:
		". yTopLabel ."
		"xLeftLabel moodPlane xRightLabel"
		". yBottomLabel .";
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: clamp(280px, 30vw, 640px);
	height: clamp(280px, 30vw, 640px);
	margin: auto;
}

.axisLabel {
	font-size: 2rem;
	min-width: 2%;
	min-height: 2%;
}

.yTopLabel {
	grid-area: yTopLabel;
	margin-bottom: -10%;
}

.yBottomLabel {
	grid-area: yBottomLabel;
	margin-top: -10%;
}

.xLeftLabel {
	transform: rotate(-90deg);
	grid-area: xLeftLabel;
	margin-right: -2rem;
}

.xRightLabel {
	transform: rotate(90deg);
	grid-area: xRightLabel;
	margin-left: -2rem;
}

.moodPlane {
	grid-area: moodPlane;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"quadrant1 quadrant2"
		"quadrant4 quadrant3";
	min-height: 80%;
	min-width: 80%;
}

.quadrant {
	display: grid;
	grid-template-columns: repeat(10, minmax(10px, 1fr));
	grid-template-rows: repeat(10, 1fr);
	border-color: black;
	border-style: solid;
}

.quadrant1 {
	grid-area: quadrant1;
	border-width: 0 1px 1px 0;
	background: hsla(352, 68%, 55%, 0.9);
}

.quadrant2 {
	grid-area: quadrant2;
	border-width: 0 0 1px 1px;
	background: hsla(50, 91%, 64%, 0.9);
}

.quadrant3 {
	grid-area: quadrant3;
	border-width: 1px 0 0 1px;
	background: hsla(147, 68%, 44%, 0.9);
}

.quadrant4 {
	grid-area: quadrant4;
	border-width: 1px 1px 0 0;
	background: hsla(248, 31%, 55%, 0.9);
}

.point {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	color: white;
}

.point:hover {
	background: #3f386b;
	cursor: pointer;
}

.pointCoordinates {
	position: absolute;
	display: none;
	width: 4.2rem;
	padding: 0.2rem;
	background: hsla(210, 5%, 16%, 1);
	font-size: 1.1rem;
	text-align: center;
	transform: translate(2.8rem, -1.7rem);
}

.point:hover .pointCoordinates {
	display: block;
}

.yTopLabel {
}
